:root {
  --form-font-color: #fff;
}

._ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 16rem;
  max-width: 16rem;
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--form-font-color);
}

.userNameTitle {
  display: flex;
}
